*,
*::before,
*::after {
  box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
body {
   font-family: 'Roboto', sans-serif;
}

/* Global styles*/
.msf-container {
  /* global styles */
  /*
 --primary: hsl(212, 100%, 34%);
 --primary-hover: hsl(212, 99%, 38%);
 --font-family: "Poppins", sans-serif;
*/
  /* realnetwork styles */

  --primary: rgb(107, 193, 67);
  --primary-hover: rgb(129, 202, 96);
  --secondary: rgb(184, 184, 184)
  --font-family: "Roboto", sans-serif;
  

  --font-size: 18px;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

.msf-container {
  width: 1352px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertical */
  justify-content: center; /* Horizontal */
}

.progress-bar-container {
  height: 8px;
  width: 1325px;
  margin: 40px 0 60px;
  background-color: rgba(108, 193, 68, 0.25);
}

#progress {
  background-color: var(--primary);
  width: 0%;
  height: 100%;
  border-radius: 6px;
  transition: 0.4s ease-in-out;
}

form {
  width: 800px;
  padding: 80px 80px 100px 80px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(119, 119, 119, 0.8);
  border-radius: 5px;
}

.form-step {
  display: none;
  animation: change 2s ease-in-out;
}

.form-step-active {
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: 1;
  /*align-items: center; /* Vertical */
  position: relative;
}

@keyframes change {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.msf-heading {
  color: var(--primary);
  font-size: 27px;
  line-height: 1.3;
  /*text-align: center;*/
}

.msf-btn {
  background: var(--primary);
  color: #ffffff;
  margin-top: 40px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 0px 3px 12px 0px rgb(0 0 0 / 10%),
    inset 0 200px 200px 200px transparent;
  text-decoration: none;
  text-align: center;
  transition: 0.5s ease-in-out;
 /* min-width: 76px;*/
  padding: 0.6em 20px;
  line-height: normal;
}

.msf-btn:hover {
  background-color: var(--primary-hover);
}

.hide {
  display: none;
}

.btns-group {
  margin-top: 20px;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  position: absolute;
  right: -80px;
  bottom: -80px;
  color: var(--primary);
  font-weight: normal;
}

.arrow {
  display: flex;
  color: var(--primary);
  transition: transform 0.3s ease-in-out;
}

.arrow:hover {
  transform: translateX(-4px);
  color: var(--primary-hover);
}

.right:hover {
  transform: translateX(4px);
}

.inactive {
  opacity: 0.3;
}
/* The radio-btn-label */
.radio-btn-label {
  color: white;
  display: block;
  position: relative;
  padding: 20px 0;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--primary);
  width: 400px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
}

.radio-btn-label::after {
  content: "";
  transition: 0.3s ease-in-out;
}

.radio-btn-label:hover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 100%, 0.15);
}

/* Hide the browser's default radio button */
.radio-btn-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  background-color: var(--primary);
}

/* .checkmark:hover{
   background-color: var(--primary-hover); 

} */

/* When the radio button is checked, add a blue background */
.radio-btn-label input:checked ~ .checkmark {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-btn-label input:checked ~ .checkmark:after {
  display: block;
  transition-delay: 2s;
  /* animation: change 2s ease-in-out;  */
}

/* Style the indicator (dot/circle) */
.radio-btn-label .checkmark:after {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 26px;
  height: 26px;
  border: solid 3px var(--primary);
  border-radius: 50px;
}

.msf-text-input {
  padding: 12px 12px;
  width: 400px;
  margin-top: 10px;
  border: 2px solid;
  border-color: var(--primary);
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

.msf-text-input:focus {
  border-color: var(--primary);
}

.msf-slider {
  margin: 40px 0px;
  width: 400px;
}

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 12px;
  background: var(--primary);
  border: none;
  border-radius: 5px;
}

input[type="range"]::-moz-range-track {
  height: 12px;
  background: var(--primary);
  border: none;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: var(--primary);
  margin-top: -10px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: var(--primary);
  margin-top: -10px;
  cursor: pointer;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--primary);
}

.slider-value {
  margin-top: -20px;
  margin-bottom: 20px;
  color: var(--primary);
  font-weight: bold;
  font-size: 20px;
}

@media only screen and (max-width: 800px) {
  /* [325px -> 600px]*/

  .msf-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertical */
    justify-content: center; /* Horizontal */
  }

  form {
    max-width: 300px;
    width: 98%;
    padding: 5%;
  }

  .progress-bar-container {
    max-width: 300px;
    width: 98%;
    margin: 40px 0 0 0;
  }

  .msf-heading {
    font-size: 20px;
  }
  .msf-btn {
    width: 100%;
    margin-top: 20px;
  }

  .btns-group {
    width: 100%;
    position: relative;
    right: 0px;
    bottom: 0px;
  }

  .radio-btn {
    width: 100%;
  }

  .radio-btn-label {
    width: 100%;
    text-align: left;
    padding-left: 32px;
  }

  .msf-text-input {
    padding: 12px 12px;
    width: 100%;
    margin-top: 10px;
    border: 2px solid;
    border-color: var(--primary);
    border-radius: 5px;
    outline: none;
    font-size: 16px;
  }

  .msf-slider {
    margin: 40px 0px;
    width: 100%;
  }

  .checkmark {
    top: 50%;
    right: 12px;
  }
}

/*NEW CSS STARTS HERE!!!*/

.questions {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  outline: none;
  margin: 0 0 20px 0;
}

.number {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  color: rgb(184, 184, 184);
  font-size: 1.125em;
  font-weight: 600;
}

.number::after {
   content: '';
   display: inline-block; /* Set the display property to allow for SVG element to be added */
   vertical-align: middle; /* Align the SVG element vertically */
   width: 1em; /* Set the width of the element */
   height: 0.7em; /* Set the height of the element */
   background-image: url('data:image/svg+xml;utf8,<svg fill="rgb(184, 184, 184)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 8"><path d="M5 3.5v1.001H-.002v-1z"></path><path d="M4.998 4L2.495 1.477 3.2.782 6.416 4 3.199 7.252l-.704-.709z"></path></svg>'); /* Add the SVG as a background image */
   background-repeat: no-repeat; /* Prevent the image from repeating */
   background-size: contain; /* Scale the image to fit within the element */
   margin: 0 6px;
}


.numbered-arrow {
  display: block;
  fill: rgb(184, 184, 184);
  transition: fill 0.2s ease 0s;
}

.questioncard-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
  flex-direction: row;
  gap: 6px;
}

.questioncard {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(184, 184, 184, 0.1);
  box-shadow: rgb(184 184 184 / 80%) 0px 0px 0px 2px inset;
  color: rgb(184, 184, 184);
  min-height: 40px;
  padding: 12px 20px;
  transition-duration: 0.1s;
  transition-property: background-color, color, border-color, opacity,
    box-shadow;
  transition-timing-function: ease-out;
  animation: 0.25s ease 0s 2 normal none running jBPXGM;
  cursor: pointer;
  opacity: 1;
}

.questioncard-icons {
   height: 128px;
   width: 128px;
   margin-bottom: 30px;
}

.questioncard-subtitle-W {
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
gap: 3px;
margin-right: -10px;
margin-left: -10px;
}

.questioncard-letter {
  width: 20px;
  height: 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 4px;
  font-size: 12px;
  font-weight: 700;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid rgb(184, 184, 184);
  background-color: rgb(255, 255, 255);
}

.questioncard:active .questioncard-letter{
  color: rgb(255, 255, 255);
  background-color: rgb(184, 184, 184);
}

.questioncard:active::after {
  content: url('data:image/svg+xml;charset=utf-8,<svg><path fill="red" d="M14.293.293l1.414 1.414L5 12.414.293 7.707l1.414-1.414L5 9.586z"></path></svg>');
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.questioncard-subtitle {
  font-size: 14px;
}

.questioncard-text {
   visibility: hidden;
}

.fill-text {
  width: 100%;
  padding: 0px 0px 8px;
  border: none;
  font-size: 30px;
  -webkit-text-fill-color: rgba(184, 184, 184, 0.3);
  animation: 1ms ease 0s 1 normal none running native-autofill-in;
  box-shadow: rgb(184 184 184 / 70%) 0px 1px;
  overflow: hidden;
}

.fill-text:focus {
   outline: none;
   box-shadow: rgb(184 184 184 / 70%) 0px 2px;
}

.btnOKenter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.PressEnter{
  font-size: 12px;
}

.ShiftEnter {
   color:rgb(184, 184, 184);
   font-size: 12px;
}